.navbar{
    background-color:#3A3B3C;
    height: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

p, h2, h6, textarea, a, input, h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer { 
    position: absolute;
    margin-bottom: 0px;
    background-color:#3A3B3C;
    height: 80px;
    width: 100%;
}

a.active {
    color:white !important;
}